@import 'init.css';

#container {
    width: 100%; /* Make sure the container takes up the full width of the screen */
}

        /* Style for the widget div */
#gr_updates_widget {
    float: right; /* Float the widget to the right side */
    width: 30%; /* Adjust the width as per your needs */
}

        /* Clear the float to prevent issues with following content */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#gr_updates_widget{
    border-radius: 5px;
    background-color:#fff;
    border:solid #000000 10px;
    -webkit-box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
    -moz-box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
    box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
    padding:15px 0 35px 15px;
    width:250px;
    height:330px;
}
#gr_footer{
    margin-bottom:10px;
}
#gr_updates_widget p{
    padding:0px;
    margin:0;
    font-size:14px;
}
#gr_footer img{
    width:100px;
    float:left;
}
#gr_updates_widget img{
	border-style:none;
}