@import 'init.css';
@import 'dracula.css';
@import 'katex.css';

#work-container {
  margin-top: 90px;
}

#work-title {
  width: auto;
  font-size: 22px;
  font-weight: 700;
}

#work-subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  word-break: keep-all;
  font-weight: 400;
}

#work-container a {
  text-decoration: underline;
}

#work-container a:hover,
#work-container a:focus {
  color: white;
  background-color: black;
}

#work-container img {
  display: block;
  max-width: 400px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid black;
}

#work-container p {
  font-size: 16px;
  line-height: 200%;
}

#work-content-container pre {
  padding: 15px 20px 20px 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow-x: auto;
  background: #282a36;
  color: #f8f8f2;
}

#work-content-container code,
#work-content-container code span {
  font-family: 'Consolas', 'Monaco', 'Ubuntu Mono', 'Andale Mono', monospace;
}

#work-content-container p code,
#work-content-container li code {
  background-color: #EEEEEE;
  padding: 0 5px 0 5px;
}

#work-content-container blockquote {
  border-left: 3px #DFDFDF solid;
  padding-left: 15px;
}

#work-content-container blockquote p {
  font-family: 'Noto Serif KR', serif;
  font-style: italic;
}