<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/about.css" as="style">
  <link rel="stylesheet" href="./styles/about.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="about-container">
    <p>I am a librarian at <a href="https://www.chathamhouse.org/">Chatham House</a>, the Royal Institute of International Affairs, with a particular focus on library systems and digital libraries. I was previously the Reader Services Librarian at Queens' College, Cambridge, where I developed and maintained the college's modern (post-1800) library collections and delivered information and research skills support to the academic community.</p>

<p>My professional interests include:<br>
• digital humanities (using Python as my primary programming language);<br>
• knowledge organisation, specifically classification and indexing;<br>
• research/academic library data services, such as research data management, version control and data visualisation support.<br>
 My current professional project is developing RDF-encoded classifications and taxonomies for use in academic and special collections.</p>

<p>I have a MA from the University of Cambridge in Modern and Medieval Languages (French and German, with a bit of Polish and Ukrainian) and an MSc in Information Science from Northumbria University. I also have experience working with special collections—cataloguing around 1,100 early printed books during my librarian traineeship—and archives.</p>
  </main>
</body>
</html>
