<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Harry Bartholomew</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/index.css" as="style">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p>Academic Librarian at a Cambridge College.</p>
    <p>Interested in knowledge organisation, digital humanities, and data science.</p>
    <img src="../assets/charlottenburg.JPG" alt="Photo of me under a tree" height="400" width="600"/>
      <div id="gr_custom_widget_1695205175">
          <div class="gr_custom_container_1695205175">
    <h2 class="gr_custom_header_1695205175">
    <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/95884490-harry-bartholomew?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Harry&#39;s bookshelf: read</a>
    </h2>
      <div class="gr_custom_each_container_1695205175">
          <div class="gr_custom_book_container_1695205175">
            <a title="The Test" rel="nofollow" href="https://www.goodreads.com/review/show/5755560466?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Test" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1643600994l/60254335._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1695205175">
            <span class=" staticStars notranslate" title="it was ok"><img alt="it was ok" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1695205175">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/5755560466?utm_medium=api&amp;utm_source=custom_widget">The Test</a>
          </div>
          <div class="gr_custom_author_1695205175">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/8534434.Sylvain_Neuvel">Sylvain Neuvel</a>
          </div>
          <div class="gr_custom_tags_1695205175">
            tagged:
            no-library-access
          </div>
      </div>
      <div class="gr_custom_each_container_1695205175">
          <div class="gr_custom_book_container_1695205175">
            <a title="Mort (Discworld, #4; Death, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/5779807547?utm_medium=api&amp;utm_source=custom_widget"><img alt="Mort" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1668656489l/63338463._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1695205175">
            <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1695205175">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/5779807547?utm_medium=api&amp;utm_source=custom_widget">Mort</a>
          </div>
          <div class="gr_custom_author_1695205175">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/1654.Terry_Pratchett">Terry Pratchett</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1695205175">
          <div class="gr_custom_book_container_1695205175">
            <a title="Project Hail Mary" rel="nofollow" href="https://www.goodreads.com/review/show/5749426170?utm_medium=api&amp;utm_source=custom_widget"><img alt="Project Hail Mary" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1645717526l/58959523._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1695205175">
            <span class=" staticStars notranslate" title="it was amazing"><img alt="it was amazing" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /></span>
          </div>
          <div class="gr_custom_title_1695205175">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/5749426170?utm_medium=api&amp;utm_source=custom_widget">Project Hail Mary</a>
          </div>
          <div class="gr_custom_author_1695205175">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/6540057.Andy_Weir">Andy Weir</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1695205175">
          <div class="gr_custom_book_container_1695205175">
            <a title="The Name of the Wind (The Kingkiller Chronicle, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/5654624175?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Name of the Wind" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1556937301l/43854105._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1695205175">
            <span class=" staticStars notranslate" title="it was amazing"><img alt="it was amazing" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /></span>
          </div>
          <div class="gr_custom_title_1695205175">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/5654624175?utm_medium=api&amp;utm_source=custom_widget">The Name of the Wind</a>
          </div>
          <div class="gr_custom_author_1695205175">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/108424.Patrick_Rothfuss">Patrick Rothfuss</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1695205175">
          <div class="gr_custom_book_container_1695205175">
            <a title="Small Things Like These" rel="nofollow" href="https://www.goodreads.com/review/show/5454752842?utm_medium=api&amp;utm_source=custom_widget"><img alt="Small Things Like These" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1627655660l/58662236._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1695205175">
            <span class=" staticStars notranslate" title="it was amazing"><img alt="it was amazing" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /></span>
          </div>
          <div class="gr_custom_title_1695205175">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/5454752842?utm_medium=api&amp;utm_source=custom_widget">Small Things Like These</a>
          </div>
          <div class="gr_custom_author_1695205175">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/274817.Claire_Keegan">Claire Keegan</a>
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
  </center>
  <noscript>
    Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Harry, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>
      </div>
      <script src="https://www.goodreads.com/review/custom_widget/95884490.Harry's%20bookshelf:%20read?cover_position=left&cover_size=small&num_books=5&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1695205175&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
  </main>
</body>
</html>
