<nav>
  <a class="logo-link" href="/">
    <h1>Harry Bartholomew</h1>
    <span>academic librarian, cambridge, england</span>
  </a>
  <small>
    <a id="about" class="info-link" href="/about.html">👀About</a> /
    <a id="works" class="info-link" href="/works.html">🔥Works</a> /
    <a id="blog posts" class="info-link" href="/articles.html">📚Articles</a>
  </small>
</nav>
