<nav>
  <a class="logo-link" href="/">
    <h1>Harry Bartholomew</h1>
    <span>librarian, cambridge/london, england</span>
  </a>
  <span class="sitelenpona" style="font-size: 24px">&#xF1911;&#xF194D;&#xF1997;&#xF196D;&#xF1996;&#xF192A;&#xF1998;</span>
  <small>
    <a id="about" class="info-link" href="/about.html">👀About</a> /
    <a id="works" class="info-link" href="/works.html">🔥Projects</a> /
    <a id="blog posts" class="info-link" href="/articles.html">📚Writing & talks</a> /
    <a id="github" class="info-link" href="https://github.com/harrybartholomew">😻Github</a> /
    <a id="linkedin" class="info-link" href="https://www.linkedin.com/in/harry-bartholomew-5763b018b/">🔗LinkedIn</a>
  </small>
</nav>
